.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  min-width: min-content;

  font-family: 'Roboto', sans-serif;
}

.layoutHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 8rem;
}

.playingSurface {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gameHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  transform: scale(0.8);
}

.boardContainer {
  position: relative;
  border-radius: 1rem;

  background-color: #0687ba;
}

.board {
  position: relative;

  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  gap: 0.2rem;

  height: 25rem;
  padding: 1.5rem;
}

.boardLines {
  position: absolute;
  top: 0;
  left: 0;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.75rem;
  height: 3.75rem;
  margin: 0.25rem;
  border-radius: 0.75rem;

  background-color: #ffffff;
  color: #0686ba;

  font-weight: 900;
  font-size: 2.25rem;
  text-transform: uppercase;

  user-select: none;
  cursor: pointer;

  transition: all 0.07s ease-in-out;
}

.tile:hover {
  color: #0686baaa;
  transform: scale(1.1);
}

.tileSelected {
  font-size: 3rem;
  color: #000000;
}

.tileDisabled {
  font-style: italic;
  cursor: default;
}

.tileSelected:hover {
  color: #000000;
}

.scoringPanel {
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  height: 25rem;
  padding: 1.5rem;

  border-radius: 1rem;

  background-color: #0687ba;
}

.newGameHeader {
  font-size: 1.75rem;
}

.currentWord {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 3rem;

  padding: 1rem;

  border: 0.1rem dashed #eeeeee;
  border-radius: 0.25rem;

  text-transform: uppercase;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.submitWord,
.clearWord,
.resetGame {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;

  background-color: #ffffff;
  color: #000000;

  cursor: pointer;
}

.submitWord:disabled,
.clearWord:disabled {
  cursor: default;
  background-color: #ffffffaa;
}

.wordsTable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1.25rem 1.5rem 1.25rem 2rem;
  border-radius: 0.25rem;

  border: 0.1rem dashed #eeeeee;
  border-radius: 0.25rem;

  font-size: 0.7rem;
  text-transform: uppercase;
}

.wordItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wordPoints {
  font-size: 0.75rem;
  font-family: monospace;
}

.score {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.25rem;

  font-weight: 700;
}
